[submodule "OCA/account-financial-tools"]
	path = OCA/account-financial-tools
	url = git@github.com:aion-tech/account-financial-tools.git
	branch = 16.0-mar
[submodule "OCA/account-closing"]
	path = OCA/account-closing
	url = git@github.com:aion-tech/account-closing.git
	branch = 16.0-mar
[submodule "OCA/web"]
	path = OCA/web
	url = git@github.com:aion-tech/web.git
	branch = 16.0-mar
[submodule "OCA/server-ux"]
	path = OCA/server-ux
	url = git@github.com:aion-tech/server-ux.git
	branch = 16.0-mar
[submodule "OCA/commission"]
	path = OCA/commission
	url = git@github.com:aion-tech/commission.git
	branch = 16.0-mar
[submodule "OCA/account-financial-reporting"]
	path = OCA/account-financial-reporting
	url = git@github.com:aion-tech/account-financial-reporting.git
	branch = 16.0-mar
[submodule "OCA/account-payment"]
	path = OCA/account-payment
	url = git@github.com:aion-tech/account-payment.git
	branch = 16.0-mar
[submodule "OCA/credit-control"]
	path = OCA/credit-control
	url = git@github.com:aion-tech/credit-control.git
	branch = 16.0-mar
[submodule "OCA/reporting-engine"]
	path = OCA/reporting-engine
	url = git@github.com:aion-tech/reporting-engine.git
	branch = 16.0-mar
[submodule "OCA/partner-contact"]
	path = OCA/partner-contact
	url = git@github.com:aion-tech/partner-contact.git
	branch = 16.0-mar
[submodule "OCA/l10n-italy"]
	path = OCA/l10n-italy
	url = git@github.com:aion-tech/l10n-italy.git
	branch = 16.0-mar
[submodule "OCA/server-tools"]
	path = OCA/server-tools
	url = git@github.com:aion-tech/server-tools.git
	branch = 16.0-mar
[submodule "aion-tech/ait_web_addons"]
	path = aion-tech/ait_web_addons
	url = git@github.com:aion-tech/ait_web_addons.git
	branch = 16.0
